.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.Cockpit button{
    border: 1px solid black;
    padding: 16px;
    background-color: rgba(37, 0, 148, 1);
    font:inherit;
    color: white;
}
.Cockpit button:hover{
    background-color: hsla(255, 100%, 56%, 1);
    color: black;
}
.Cockpit button.Red{
    background-color: red;
}
.Cockpit button.Red:hover{
    background-color: rgba(209, 61, 61, 0.74);
}